.header {
  background-color: darkred;
  height: 8vh;
  width: 100vw;
  color: white;
  display: flex;
}

.form {
  background-color:yellow;
  display: flex;
  justify-content: center;
  margin: 15%
}

.buttons {
  display: flex;
  justify-content: center;
  margin: auto

}